.pregunta1{
    background-color:blue;
}

.pregunta2{
    background-color: pink;
}

.pregunta3{
    background-color: aqua;
}

.pregunta-3{
    background-color: aqua;
}

.pregunta4{
    background-color: brown;
}

.pregunta6{
    background-color: antiquewhite;
}

.pregunta7{
    background-color: aquamarine;
}

.pregunta8{
    background-color: blueviolet;
}
